Repository foray1010/babel-preset-foray1010: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, ignore-sync

.lintstagedrc.yml:

'*.js':
  - 'prettier --write'
  - 'eslint --fix'
  - 'git add'
'*.{json,yaml,yml}':
  - 'prettier --write'
  - 'git add'
'*ignore-sync':
  - 'ignore-sync'
  - 'git add'

chore: use @foray1010/prettierrc
  .prettierrc.js
  .prettierrc.yml
  CHANGELOG.md
  README.md
  flow-react.js
  lib/getEnv.js
  package.json
  typescript-react.js
  yarn.lock
Due: prettier --write, eslint --fix

chore: use common ignore files
  .lintstagedrc.yml
  package.json
  yarn.lock
Due: prettier --write

fix(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier --write

fix: add empty main index.js
  index.js
  package.json
Due: prettier --write, eslint --fix

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore: use @foray1010/prettier-config
  .prettierrc.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency husky to v3.0.9
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @foray1010/eslint-config to v1.7.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @foray1010/eslint-config to v1.8.0
  package.json
  yarn.lock
Due: prettier --write

chore: sync eslint config
  package.json
Due: prettier --write
